<div class="field octocub-delivery-date">
  <label class="label" for="octocub_delivery_date"><span data-bind="i18n: 'Delivery Date'"></span></label>
  <div class="control">
    <input type="date"
           id="octocub_delivery_date"
           class="input-text"
           data-bind="event: { change: function(_, e){ $parent.setDate(e.target.value) } }"/>
  </div>
</div>

<div class="field octocub-delivery-time">
  <label class="label" for="octocub_delivery_time"><span data-bind="i18n: 'Delivery Time'"></span></label>
  <div class="control">
    <select id="octocub_delivery_time"
            class="select"
            data-bind="event: { change: function(_, e){ $parent.setTime(e.target.value) } }">
      <option value="" data-bind="i18n: 'Select time'"></option>
      <option value="09:00-12:00">09:00 - 12:00</option>
      <option value="12:00-15:00">12:00 - 15:00</option>
      <option value="15:00-18:00">15:00 - 18:00</option>
      <option value="18:00-21:00">18:00 - 21:00</option>
    </select>
  </div>
</div>
